# Ignore all files under generated/
generated/*

# But keep the folder
!generated/.gitkeep

# Ignore all files under generated/
.amazonq/cli-todo-lists/*

# But keep the folder
!.amazonq/cli-todo-lists/.gitkeep

.DS_Store

# Ignore private key files
*.pem

# Ignore backup files
*.bak
*.backup
